* {
  margin: 0%;
}

header {
  height: 150px;
  background-color: rgba(26, 26, 26, 0.733);
  display: flex;
  position: relative;
}

.Marca {
  position: relative;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.788);
  font-size: 30px;
  top: 15%;
}

.Items ul{ 
  display: flex;
  position: relative;
  left: 30%;
  margin: 0 15px;
  color: rgba(255, 255, 255, 0.788);
}



li {
  list-style-type: none;
  margin: 0 15px;
  font-size: 30px;
  position: relative;
  left: 50%;
  top: 50px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.788);
}

.Cart {
  position: relative;
  font-size: 60px;
  left: 50%;
  top: 15%;
}

.Alert {
  display: flex;
  background-color: aquamarine;
  justify-content: center;
}